<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Grace_Matuszyk_assignment2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B475FC21DA8722F00BEF671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B475FDB1DA8723000BEF671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B475FE61DA8723000BEF671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
